.snake{
    background-color: black;
    color: black;
    min-height: 15px;
    min-width: 15px;
    position: absolute;
    border-radius: 100%;
}

.food{
    background-color: rgb(68, 94, 224);
    color: rgb(68, 94, 224);
    min-height: 15px;
    min-width: 15px;
    position: absolute;
    border-radius: 100%;
}